$cyan: #00A8C2;
$turquoise: #DCF9FB;
$turquoise-dark: #0DC4E0;
$turquoise-dark-2: #00A8C2;
$gray-0: #697B8C;
$gray-1: #8596A6;
$gray-2: #B8C4CC;
$gray-3: #D8E4EB;
$gray-4: #F0F5F7;
$gray: #EBEBEB;
$green: #00B259;
$red: #FF513D;
