.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-bottom: 50px;

  &__actions {
    display: flex;
    align-items: center;
  }

  .g-title {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .g-button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
