.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;

  button {
    min-width: 30px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 130%;
    margin: 0 5px;
    padding: 5px 10px;
    color: #00A8C2;
    border-radius: 100px;

    &:focus {
      outline: none;
    }
  }

  &__content {
    display: flex;
  }

  &__button {
    &.current {
      color: white;
      background: #00A8C2;
    }
  }
}
