.g-sidebar {
  min-width: 280px;
  height: 100vh;
  filter: drop-shadow(0 0 24px rgba(0, 111, 128, 0.12));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  &__container {
    width: 280px;
    height: 100vh;
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__toggler {
    display: none;
  }

  &__top {
    padding: 40px;
    border-radius: 0 40px 0 0;
    background: #ffffff;

    .toggler {
      display: none;
    }
  }

  &__logo {
    width: 155px;
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__bottom {
    height: 100%;
    background: #ffffff;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__sign-out {
    margin-left: auto;
    color: $red;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    background: rgba($red, 0.05);
    transition: background .2s ease;

    @media (hover: hover) {
      &:hover {
        background: rgba($red, 0.1);
      }
    }
  }

  &__nav {
    &-icon {
      min-width: 20px;
      max-width: 20px;
      min-height: 20px;
      max-height: 20px;
      margin-right: 20px;

      path {
        fill: $gray-1;
      }
    }

    &-item {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: $gray-1;
      padding: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &:hover:not(.g-sidebar__nav-item--no-hover), &.router-link-exact-active {
        color: $cyan;
        background: $turquoise;
        border-radius: 16px;
        width: 100%;

        .g-sidebar__nav-icon {
          path {
            fill: $cyan;
          }
        }
      }

      &--profile {
        font-size: 16px;

        .g-sidebar__nav-icon {
          min-width: 24px;
          max-width: 24px;
          min-height: 24px;
          max-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 1100px) and (min-width: 601px) {
  .g-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: unset;
    max-height: 100vh;
    overflow: hidden;

    @mixin sidebar-mob {
      .g-sidebar {
        &__container {
          width: 320px;
        }

        &__nav {
          &-item {
            span {
              opacity: 1;
              visibility: visible;
            }

            &--two-line {
              height: 58px;
            }
          }
        }

        &__top {
          height: 56px;
        }

        &__logo {
          transform: rotate(0deg) translateY(0);
          width: 147px;
          height: 28px;

          img {
            width: 147px;
            height: 28px;
          }
        }

        &__toggler {
          transform: rotate(90deg);
        }
      }
    }

    &.active {
      @include sidebar-mob;
    }

    @media (hover: hover) {
      &:hover {
        @include sidebar-mob;
      }
    }

    &__container {
      width: 56px;
      max-width: 100%;
      z-index: 1;
      position: relative;
      transition: width .2s ease;
    }

    &__bottom {
      padding: 0 10px 20px;
      display: flex;
      flex-direction: column;
    }

    &__nav {
      &-item {
        padding: 10px;
        height: 36px;
        transition: height .2s ease;

        span {
          opacity: 0;
          visibility: hidden;
          transition: opacity .2s ease, visibility .2s ease;
          white-space: nowrap;
        }
      }

      &-icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
        max-width: 16px;
        min-height: 16px;
        max-height: 16px;
      }
    }

    &__top {
      height: 245px;
      padding: 20px;
      transition: height .2s ease;
    }

    &__toggler {
      margin-left: auto;
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      transition: transform .2s ease;
      transform: rotate(-90deg);

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__logo {
      transition: transform .2s ease, height .2s ease, width .2s ease;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: left top;
      display: block;
      width: 160px;
      height: 20px;

      svg {
        width: 160px;
        height: 20px;
        object-position: left;
        object-fit: cover;
        transition: width .2s ease, height .2s ease;
      }
    }
  }
}

@media (max-width: 600px) {
  .g-sidebar {
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    min-width: unset;
    height: unset;

    &.active {
      .g-sidebar {
        &__container {
          transform: translateY(-84px);
        }

        &__bg {
          opacity: 0.5;
          visibility: visible;
        }

        &__top {
          .toggler {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }

    &__toggler {
      display: none;
    }

    &__top {
      border-radius: 0 0 40px 40px;
      padding: 20px;
      position: relative;

      .toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        transition: transform .2s ease;

        svg {
          width: 16px;
          height: auto;
        }
      }
    }

    &__logo {
      display: block;
      max-width: 200px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    &__container {
      flex-direction: column-reverse;
      width: 100%;
      height: unset;
      top: 84px;
      transform: translateY(-100%);
      transition: transform .2s ease;
      position: fixed;
    }

    &__bottom {
      height: unset;
      padding-top: 20px;
      max-height: 80vh;
    }

    &__nav {
      ul {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__bg {
      position: fixed;
      top: 0;
      left: -20px;
      right: -20px;
      height: 100vh;
      background: #000;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease, visibility .2s ease;
    }
  }
}

@media (max-width: 450px) {
  .g-sidebar {
    left: 0;
    right: 0;
  }
}

@media (max-width: 400px) {
  .g-sidebar {
    &__logo {
      margin: 0;
    }

    &__top {
      border-radius: 0 0 20px 20px;

      .toggler {
        right: 20px;
      }
    }
  }
}
