.g-table {
  position: relative;

  &__actions {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__color {
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__cell {
    display: flex;
    align-items: center;
  }
}
