.m {
  &--10 {
    margin: -10px !important;
  }
}

.mt {
  &-20 {
    margin-top: 20px !important;
  }
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }

  &-20 {
    margin-bottom: 20px !important;
  }
}

.w {
  &-100 {
    width: 100% !important;
  }
}
