@import './global/layout';
@import './global/g-button';
@import './global/g-color';

.container {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 30px;
}

.page-container {
  padding-left: 310px;
}

.g-label {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
  display: block;
}

.g-title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #111;
  margin: 0 0 20px 0;

  .small {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #111;
  }
}

.g-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #111;
  margin: 0 0 20px 0;
}

.g-flex {
  display: flex;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &-justify {
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .page-container {
    padding-left: 86px;
  }

  .page-header {
    &__unlock {
      padding: 16px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
